<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Get help on the Sample app at <a href="http://braliaonline.com/">JCRSample app</a>.
	To get help on this sample app see the <a href="http://braliaonline.com">Bralia website</a>.
</p>
